@import "tailwindcss";

@theme {
  --color-brown-dark: #30261F;
  --color-brown: #403329;
  --color-brown-light: #4A3B2F;

  --color-cream: #F5F2EC;
  --color-card: #FBFAF7;
  --color-beige: #E9E2D6;

  --color-text: #211D19;
  --color-text-light: #716B63;

  --color-border: #DDD7CE;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  background: #F5F2EC;
  color: #211D19;
  font-family: Arial, Helvetica, sans-serif;
}